html{ 
    color-scheme: light dark; 
}

body{ 
    font-family: Tahoma, Verdana, Arial, sans-serif; 
}

.e-mail{
    font-size: 50px;
    text-align: center;
}


* {
    box-sizing: border-box;
    
    padding: 0;
}

html{
    color-scheme: light dark;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
}

.Logo{
    cursor: pointer;
    width: 100px;
    border-radius: 5px;
}


.nav_links a,
.cta,
.overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

.nav_links {
    list-style: none;
    display: flex;
}

.nav_links li {
    padding: 0px 20px;
}

.nav_links li a {
    transition: color 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

.cta {
    padding: 9px 25px;
    background-color: rgba(8, 134, 207, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}

.cta:hover {
    background-color: rgba(8, 134, 207, 0.8);
}

.animeclash{
    align-self: center;
    align-items: center;
    align-content: center;
}