/* Global styles */
body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0; 
    background-image: url('../Pics/aecc6d0db992d54252dff81dec954034.jpg');
    /*background-repeat: no-repeat;*/
    background-size: cover;
    overflow: hidden;
    position: relative;
    -webkit-backdrop-filter: blur(2px); /* Chrome, Safari, Opera */
    backdrop-filter: blur(2px); /* Firefox, Edge */
}

/* Fallback for browsers that do not support backdrop-filter */
@supports not ((-webkit-backdrop-filter: blur(2px)) or (backdrop-filter: blur(2px))) {
    body {
        background-color: rgba(240, 240, 240, 0.8); /* Adjust the opacity to achieve the desired blur effect */
    }
}

header {
    margin: 10px;
    border-radius: 15px;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #24252a; /* Change as needed */
    color: #edf0f1; /* Change as needed */
    padding: 20px;
}

.Logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
    display: flex;
}

.nav_links li {
    margin-right: 20px;
}

.nav_links a,
.cta {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav_links a:hover,
.cta:hover {
    color: #0088a9; /* Change as needed */
}

/* Main content styles */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.interest {
    background-color: #24252a; /* Change as needed */
    border-radius: 8px;
    padding: 20px;
    width: 300px; /* Adjust width as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    transition: transform 0.3s ease;
    color: #edf0f1;
}

.interest h2 {
    color: #edf0f1; /* Change as needed */
}

.interest p {
    color: #edf0f191; /* Change as needed */
}

/* Hover animation */
.interest:hover {
    transform: scale(1.05);
}

/* No more scroll bar */
::-webkit-scrollbar {
    display: none;
}


/* Anything with this class will not have a cursor change */
.no-cursor-on-this-please {
    cursor: default;
}