/* Reset CSS */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0; 
}

/* Header styles */
header {
    display: none; /* Hide the header */
}

/* Main content styles */
.social-things {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh; /* Set height to full viewport height */
}

.subject {
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease; 
    padding: 20px;
    border-radius: 8px;
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.subject a {
    color: inherit; /* Inherit color from parent */
    text-decoration: none; /* Remove default underline */
}

