/* Reset CSS */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    background-color: #24252a; 
    background-image: url('../Pics/aecc6d0db992d54252dff81dec954034.jpg');
    /*background-repeat: no-repeat;*/
    background-size: cover;
    overflow: hidden;
    position: relative;
    -webkit-backdrop-filter: blur(2px); /* Chrome, Safari, Opera */
    backdrop-filter: blur(2px); /* Firefox, Edge */
}

/* Fallback for browsers that do not support backdrop-filter */
@supports not ((-webkit-backdrop-filter: blur(2px)) or (backdrop-filter: blur(2px))) {
    body {
        background-color: #24252a;
        opacity: 0.8; /* Adjust the opacity to achieve the desired blur effect */
    }
}

/* Header styles */
header {
    display: none; /* Hide the header */
}

/* Main content styles */
.social-things {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh; /* Set height to full viewport height */
}

.subject {
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease; 
    padding: 20px;
    border-radius: 8px;
    background-color: #24252a;
    color: #edf0f1; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.subject a {
    color: inherit; /* Inherit color from parent */
    text-decoration: none; /* Remove default underline */
}


/* No more scroll bar */
::-webkit-scrollbar {
    display: none;
}


/* Anything with this class will not have a cursor change */
.no-cursor-on-this-please {
    cursor: default;
}